html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: rgb(0, 0, 0) url('loading.gif') no-repeat scroll center center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    height: 100%;
}

#currentInfo {
    width: 270px;
    position: absolute;
    left: 20px;
    top: 140px;
    padding: 10px;
}

#dataSelectDropdown {
    width: 350px;
    position: absolute;
    left: 20px;
    top: 85px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.week {
    font: 11px/30px Verdana, Geneva, sans-serif;
    height: 30px;
    text-align: left;
    float: left;
    width: 150px;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
}

.week:hover, .week.active {
    font-size: 13px;
    color: rgb(255, 255, 255);
}

#dataSelection option {
    background: rgb(70, 108, 65) none repeat scroll 0% 0%;
}

select {
    background: rgb(70, 108, 65) none repeat scroll 0% 0%;
    border: 1px none rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    line-height: 25px;
    width: 220px;
}
